/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */


:root{
    /* Font */

    --ubuntu: "Ubuntu", sans-serif !important;

    /* Colors */
    --color-white: white !important;
    --background: #fffaff !important;
    --text-1: #515151 !important;
    --text-2: #b1b1b1 !important;
    --elements: #050401 !important;
}

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

p, h1, a{
    font-family: var(--ubuntu) !important;
}


.bg-color{
    background-color: var(--background);
}

.nav-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around !important;
}

/* .logo-image{
    margin-left: 2.5rem !important;
} */

.links ul li a{
    margin: 0 45px !important;
    color: var(--color-white);
    font-family: var(--ubuntu);
}

.links ul li a:hover{
    color: var(--color-white);
}

.toggle-button{
    border: 0px var(--color-white) solid !important;
    background-color: var(--color-white);
    width: 90px !important;
    height: 84px !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--color-white) !important;
}

.profile-pic{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid black;
}

.buttons{
    
    margin: 3.5rem 0 2rem 0 !important;
}

.button{
    margin: 0 .5rem !important;
    text-decoration: none;
    border: 2px solid black;
    padding: .5rem 1.5rem !important;
    border-radius: 50px;
}

.button-1{
    color: var(--elements);
    font-weight: lighter;
}

.button-2{
    background-color: var(--elements);
    color: var(--color-white);
    font-weight: lighter;
}

.button-1:hover{
    color: var(--elements);
}

.button-2:hover{
    color: var(--color-white);
}

/* .socials{
    margin: 0 .5rem !important;
} */

.icon{
    color: var(--elements);
}

.icon-link{
    margin: 0 .8rem !important;
}

.title{
    margin: 15rem 0 5rem 10rem !important;
    position: relative;
}

.p-about{
    margin-right: .5rem !important;
    font-size: 2rem;
    font-weight: bold;
}

.raya{
    width: 547px;
    height: 3.5px;
    background-color: var(--elements);
    position: absolute;
    top: 2rem;
    left: 9.5rem;
}

.raya-2{
    width: 566px;
    height: 3.5px;
    background-color: var(--elements);
    position: absolute;
    top: 2rem;
    left: 8.4rem;
}

.raya-3{
    width: 610px;
    height: 3.5px;
    background-color: var(--elements);
    position: absolute;
    top: 2rem;
    left: 5.6rem;
}

.raya-4{
    width: 515px;
    height: 3.5px;
    background-color: var(--elements);
    position: absolute;
    top: 2rem;
    left: 11.5rem;
}

@media (min-width: 992px){
    .navbar-none-1{
        display: none !important;
    }

    .cont-header{
        margin-top: 10rem !important;
    }
}

@media (max-width: 992px){
    .navbar-none-2{
        display: none !important;
    }

    .profile-pic{
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 50% !important;
    }

    .cont-header{
        margin-top: 7rem !important;
    }

    .img-profile{
        margin-bottom: 2rem !important;
    }
}

@media (max-height: 736px){

    .cont-header{
        margin-top: 1rem !important;
    }
}